html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
a, a:link, a:hover {
    color: #fff;
}
body {
    padding-bottom: 120px;
}
header, footer {
    background: url(bg.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}
header h2 {
    font-family: Lobster;
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 10px;
}
header address {
    margin-top: 10px;
}
header nav {
    overflow: hidden;
}
header nav ul {
    display: inline-block;
    overflow: hidden;
    margin: auto 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    float: left;
    margin: 1px;
}
header nav ul li a,
header nav ul li a:link {
    background-color: #fff;
    opacity: 0.7;
    color: #000;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
header nav ul li a:hover {
    opacity: 0.85;
    text-decoration: none;
    color: #000;
}
.google-maps {
    height: 300px;
}
.google-maps.full {
    height: 800px;
}
.google-maps .gm-style-iw p.right {
    text-align: right;
}
.google-maps .gm-style-iw p.right a {
    color: #000;
    text-decoration: underline;
}
.roasters {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
}
.roasters .navbar {
    border-radius: 0;
    margin: 0;
    margin-top: 5px;
}
.roasters .list {
    overflow: hidden;
    margin-bottom: 10px;
}
.roasters .item {
    height: 170px;
    float: left;
    padding: 10px;
}
.js-by-distance label {
    cursor: pointer;
}
.item .wrapper {
    height: 150px;
    padding: 10px;
    background-color: rgba(81, 66, 63, 0.88);
    color: #fff;
}
.item .wrapper h2 {
    font-family: Lobster;
    margin-top: 0;
    padding-top: 0;
}
.item .credit {
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.item .credit a {
    color: #fff;
    text-decoration: underline;
}

.social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.social h3 {
    clear: both;
}
.social .item {
    padding: 5px;
    height: auto;
    overflow: hidden;
}
.social .item .wrapper {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid silver;
    border-right: none;
    border-bottom: none;
    color: #000;
    height: auto;
}
.social .item .wrapper .img {
    width: 140px;
}
.social.instagram .wrapper img {
    padding-right: 10px;
}
.social .item .wrapper p {
    flex: 1;
}
.social time {
    display: block;
    margin-bottom: 5px;
}
.social .item a {
    color: #000;
    text-decoration: underline;
}
.about li a,
.about p a {
    color: #000;
    text-decoration: underline;
}
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width:100%;
}
footer a {
    text-decoration: underline;
}

@media (max-width: 750px) {
    header h2 {
        font-size: 3em;
    }
}
