<?php

// configure your app for the production environment

// twitter stuff
$app['r.twitter.api_key']    = '';
$app['r.twitter.api_secret'] = '';

// instagram stuff
$app['r.instagram.api_key']      = '';
$app['r.instagram.api_secret']   = '';
$app['r.instagram.api_callback'] = '';
$app['r.instagram.api_token']    = '';

// facebook stuff
$app['r.facebook.app_id']     = '';
$app['r.facebook.app_secret'] = '';

// mongodb stuff
$app['r.mongodb.host']     = '';
$app['r.mongodb.database'] = '';
