{% extends "layout.html" %}
{% block content %}
	<h1>Liste over danske kafferisterier.</h1>
	<article class="intro">
		<p>Kunne ikke finde en liste, så jeg lavede en.</p>
		<p>Listen er forbeholdt små risterier, der går op i at leverer en god oplevelse til alle os kaffeelskere.</p>
		<p>Hvis der er nogen af jer der kender andre - eller selv er et, så drop mig en <a href="mailto:me@ulrik.co">mail</a>, så listen kan blive opdateret.</p>
		<p class="credit">- Ulrik 1/9 '15</p>
		<span></span>
	</article>
	<article>
		<label>
			Område filter:
			<select>
				<option value="">Vis alle</option>
				{% for k,v in tags %}
				<option value="{{ k }}">{{ v }}</option>
				{% endfor %}
			</select>
		</label>
        <label class="js-by-distance hidden">
            <a href="#">Sorter efter afstand</a>
        </label>
	</article>

    <section id="roasters">
        {% include 'roaster-list.html.twig' %}
    </section>

    <footer>
		pt. <span>{{ roasters|length }}</span> risterier på listen.
	</footer>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>var _baseUrl='{{ app.request.baseurl }}';(function($){$(document).on('change','select',function(){var s=$(this).find(':selected').val();if(''==s){$('article.item').removeClass('hidden');$('footer span').text($('article.item:visible').length);return;}$('article.item').addClass('hidden');$('[data-area='+s+']').removeClass('hidden');$('footer span').text($('article.item:visible').length);});})(jQuery);</script>
    <script>if ("geolocation" in navigator) {$('.js-by-distance').removeClass('hidden');$('.js-by-distance a').on('click', function(e) {e.preventDefault();var s = function(pos) {var payload = {lat: pos.coords.latitude, lon: pos.coords.longitude};$.get(_baseUrl+'/geo-sort', payload, function(response) {$('#roasters').html(response);});};navigator.geolocation.getCurrentPosition(s);});}</script>
{% endblock javascript %}
