{% extends "layout.html" %}
{% block content %}
	<h1>Liste over danske kafferisterier.</h1>
	<article class="intro">
		<p>Kunne ikke finde en liste, så jeg lavede en.</p>
		<p>Listen er forbeholdt små risterier, der går op i at leverer en god oplevelse til alle os kaffeelskere.</p>
		<p>Hvis der er nogen af jer der kender andre - eller selv er et, så drop mig en <a href="mailto:me@ulrik.co">mail</a>, så listen kan blive opdateret.</p>
		<p class="credit">- Ulrik 1/9 '15</p>
		<span></span>
	</article>
	<article>
		<label>
			Område filter:
			<select>
				<option value="">Vis alle</option>
				{% for k,v in tags %}
				<option value="{{ k }}">{{ v }}</option>
				{% endfor %}
			</select>
		</label>
	</article>
{% for item in shops %}
	<article data-area="{{ item.tags[0] }}" class="item">
		<h2><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></h2>
		<address><a href="https://www.google.dk/maps/place/{{ item.address|url_encode }},dk" target="_blank">{{ item.address }}</a></address>
		<div class="credit">Tak til: {{ item.thanks|default('Google') }}</div>
		<span style="background-image:url(https://maps.googleapis.com/maps/api/streetview?size=640x200&amp;location={{ item.address|url_encode }},dk&amp;fov=90&amp;heading=235&amp;pitch=10)"></span>
	</article>
{% endfor %}
	<footer>
		pt. <span>{{ shops|length }}</span> risterier på listen.
	</footer>
{% endblock %}
